$blue: #5974E3;
$green: #DFFBC2;
$greenhighlight: #97E44F;
$darkgreen: #7AB840;
$red: #FFB7A6;
$darkred: #E07460;

$white: #FFFFFF;
$darkgrey: #454A58;
$lightgrey: #CED3EB;
$midgrey: #797D8C;

$bigoutershadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
$bigborderradius: 3px;
